{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
About
{% endblock title %}
{% block content %}
<div class="col-sm-10">
    <h3 class="my-5 font-weight-bold">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sit amet error voluptatum voluptatibus ad molestias illo
         itaque qui! Omnis corrupti, dolores pariatur magnam consectetur, 
         placeat sit animi ea perferendis modi nemo est autem suscipit? 
         Repellendus sit est nisi recusandae?</p>
         <p>
             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
              ad culpa esse earum, facere blanditiis laborum? Ab, provident 
              voluptatibus quibusdam in 
             ipsa consequuntur odit molestiae vel nesciunt et optio facere!
         </p> 
        Sunt reiciendis dolorem dicta eius debitis facere quo veritatis, aut modi.
</div>


{% endblock content %}