{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block content %}
 <div class="col-sm-10">
     <h3 class="my-5" >Home Page</h3>
    <div class="jumbotron jumbotron-fluid jumbo-color ">
        <div class="container">
            <h1 class="display-4">This is Blog Page..</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Repudiandae temporibus, omnis iste minus
                 quisquam rem rerum deserunt consequatur cumque qui.</p>
        </div>
    </div>
 </div>


{% endblock content %}