{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
Logout
{% endblock title %}
{% block content %}
<div class="col-sm-10">
    <h3 class="my-5 font-weight-bold">Logout Page</h3>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Full-Name * </label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address *</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Address *</label>
            <textarea class="form-control" id="exampleInputPassword1"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Messages *</label>
            <textarea class="form-control" id="exampleInputPassword1"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock content %}